.pageContainer{
  position: relative;
  user-select: none;
  font-family: 'ali-light';
  height: 100%;
  width: 100%;
  background:url('./static/pics/bg_index.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  box-sizing: border-box;
}

